@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Open Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > * {
  min-width: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 20px;
}
@media (max-width: 767.98px) {
  .container {
    padding: 0 10px;
  }
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}

.form__column {
  padding: 0px 15px;
}

.btn {
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #f7600e;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 15px;
}
@media (min-width: 991.98px) {
  .btn:hover {
    background-color: #d1510d;
  }
}
.btn.fw {
  width: 100%;
}

.select-block {
  position: relative;
}

.select__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  left: 20px;
}

.select {
  position: relative;
  cursor: pointer;
}
.select .select-title {
  z-index: 1;
  width: 100%;
  height: 55px;
  border: 1px solid #dedede;
  position: relative;
  background-color: #fff;
}
.select .select-title__arrow {
  position: absolute;
  top: 0;
  right: 0px;
  width: 45px;
  height: 100%;
  background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 53px;
  display: block;
  overflow: hidden;
  padding: 0 45px 0 25px;
  white-space: nowrap;
  text-transform: none;
  text-overflow: ellipsis;
}
.select .select-options {
  position: absolute;
  z-index: 10;
  top: 54px;
  display: none;
  overflow: hidden;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
  max-height: 80px;
  overflow: auto;
}
.select .select-options-list {
  padding: 0px 0px 0px 0px;
}
.select .select-options__value {
  color: #000;
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
  margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
  color: #000;
}

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 15px !important;
  height: 50px;
  width: 100%;
  display: block;
  padding: 0px 20px;
  color: #3b434c;
  font-size: 16px;
  font-weight: 300;
}
textarea.input {
  resize: none;
  padding: 20px;
  height: 200px;
}

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer;
}
.check input {
  display: none;
}
.check:before {
  content: "";
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #a3a3a3;
  position: absolute;
}
.check.active:before {
  background: url("../img/icons/check.png") center no-repeat;
}

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}
.option:last-child {
  margin-bottom: 0px;
}
.option input {
  display: none;
}
.option:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid #7f7f7f;
  border-radius: 50%;
}
.option.active:before {
  background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.rating.edit .star {
  cursor: pointer;
}
.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  position: relative;
  width: 73px;
  height: 47px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
}

.quantity__input {
  height: 45px;
  width: 50px;
  text-align: center;
  color: #101010;
  font-weight: 300;
}

.quantity__btn {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer;
}
.quantity__btn:before {
  font-size: 25px;
  display: inline-block;
  line-height: 10px;
  color: #a9a9a9;
}
.quantity__btn:hover:before {
  color: #da0005;
}
.quantity__btn.dwn {
  top: 25px;
}

.category-params-item-price-table {
  margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
  padding-right: 15px;
  position: relative;
}
.category-params-item-price-table .cell:first-child:after {
  content: "-";
  position: absolute;
  right: -4px;
  top: 8px;
  font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
  padding-left: 15px;
}
.category-params-item-price-table .cell input {
  height: 37px;
  border: 2px solid #393939;
  background-color: #ffffff;
  text-align: center;
  font-size: 12px;
  color: #393939;
  font-weight: 500;
  width: 100%;
}

.category-params-item-price-range {
  margin: 0 12px 40px 12px;
  background-color: #c9cecf;
  height: 2px;
  position: relative;
}
.category-params-item-price-range .ui-slider-range {
  background-color: #000;
  height: 2px;
  position: relative;
}
.category-params-item-price-range .ui-slider-handle {
  width: 23px;
  height: 28px;
  border: 3px solid #fbfbfb;
  background-color: #ea5922;
  display: block;
  position: absolute;
  top: -14px;
  margin-left: -12px;
  cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 50px;
  text-align: center;
  font-size: 10px;
  margin-left: -25px;
  font-weight: 500;
  color: #94a6aa;
}

.form__info {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  line-height: 60px;
  text-align: center;
  color: #888;
  z-index: 2;
  font-size: 14px;
}
@media (max-width: 767.98px) {
  .form__info {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.form-range-line {
  position: relative;
  height: 5px;
  border-radius: 0 0 4px 4px;
  background-color: #e0e0e0;
  margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
  background-color: #093454;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
  background: url("../img/icons/range.svg") 0 0 no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  margin: -9px 0px 0px -14px;
  top: 0;
  left: 0;
  cursor: pointer;
}
.form-range-line .ui-state-hover {
  background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0px 0px 0px;
}

.form-range-values__item {
  font-size: 12px;
  color: #888;
}

.top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.top-block__title {
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  color: #3b434c;
  margin: 0px 0px 10px 0px;
}
.top-block__title span {
  color: #f7600e;
}
.top-block__title_w {
  color: #fff;
}
.top-block__text {
  color: #3b434c;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  max-width: 455px;
  margin: 0px auto;
}
.top-block__text_w {
  color: #fff;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}
ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}
.cell.full {
  width: 100%;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.swiper {
  overflow: hidden;
}
.swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}
.moretext__more span {
  font-style: normal;
}
.moretext__more span:first-child {
  display: block;
}
.moretext__more span:last-child {
  display: none;
}
.moretext__more.active span {
  font-style: normal;
}
.moretext__more.active span:first-child {
  display: none;
}
.moretext__more.active span:last-child {
  display: block;
}

.graystyle {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.graystyleoff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

.slick-slider {
  position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.slick-slider .slick-slide {
  position: relative;
}
.tab__item {
  display: none;
}
.tab__item.active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}
.baloon button {
  display: none !important;
}
.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}
.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__content_image {
  padding: 0;
}

.popup__image img {
  max-width: 100%;
  vertical-align: top;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.popup__title {
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__container {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__logo {
  width: 158px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 158px;
          flex: 0 0 158px;
  position: relative;
}
@media (max-width: 767.98px) {
  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
    -webkit-transform: translate3d(-50%, -50%, 0px);
    -ms-transform: translate3d(-50%, -50%, 0px);
    -o-transform: translate3d(-50%, -50%, 0px);
    -moz-transform: translate3d(-50%, -50%, 0px);
  }
}
.header__logo img {
  max-width: 100%;
}
.header.fixed {
  width: 100%;
  background-color: #333;
  z-index: 10;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #3b434c;
    opacity: 0;
    visibility: hidden;
    padding: 100px 10px 20px 10px;
  }
  .menu__body.active {
    opacity: 0.95;
    visibility: visible;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li {
  margin: 0px 0px 0px 15px;
}
@media (max-width: 767.98px) {
  .menu__list {
    display: block;
    text-align: center;
    position: relative;
    padding: 0px 0px 55px 0px;
  }
  .menu__list li {
    margin: 0px 0px 40px 0px;
  }
  .menu__list li:last-child {
    margin: 0px 0px 0px 0px;
  }
  .menu__list::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 0px, 0px);
    -webkit-transform: translate3d(-50%, 0px, 0px);
    -ms-transform: translate3d(-50%, 0px, 0px);
    -o-transform: translate3d(-50%, 0px, 0px);
    -moz-transform: translate3d(-50%, 0px, 0px);
    width: 167px;
    height: 2px;
    background-color: #f7600e;
  }
}
.menu__link {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .menu__link:hover {
    color: #f7600e;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 35px;
    font-weight: 600;
  }
}
.social-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .social-menu {
    margin: 55px 0px 0px 0px;
    display: block;
  }
}
.social-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -10px;
}
.social-menu__list li {
  padding: 0px 10px;
  margin: 0px 0px 10px 0px;
}
@media (max-width: 767.98px) {
  .icon-menu {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: inline-block;
    position: absolute;
    top: 26px;
    right: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
}
.footer {
  background-color: #3b434c;
}
.footer__content {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .footer__content {
    height: 70px;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 767.98px) {
  .footer__column_f {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 767.98px) {
  .footer__column_s {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.footer__copy {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
}
.designed-footer__text {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0px 5px 0px 0px;
}
.designed-footer__image {
  display: inline-block;
}

.blackbg {
  position: relative;
}
.blackbg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  background-color: #3b434c;
  opacity: 0.9;
}

.fullscreen {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: url("../img/bg__main.jpg") center/cover no-repeat;
}
.fullscreen__body {
  position: relative;
  z-index: 5;
  max-width: 795px;
  margin: 100px auto 0px auto;
  padding: 0px 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fullscreen__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fullscreen__title {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 800;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}
.fullscreen__title span {
  color: #f7600e;
}
.fullscreen__text {
  color: #fff;
  font-size: 25px;
  line-height: 40px;
  margin: 0px 0px 60px 0px;
}
@media (max-width: 767.98px) {
  .fullscreen__text {
    margin: 0px 0px 30px 0px;
  }
}
.fullscreen__links {
  margin: 0px 0px 20px 0px;
}
.fullscreen__link {
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #5a5d61;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 15px;
  padding: 0px 20px;
  min-width: 210px;
  margin: 0px 10px;
}
@media (min-width: 991.98px) {
  .fullscreen__link:hover {
    background-color: #f7600e;
    border: 0;
  }
}
@media (max-width: 503px) {
  .fullscreen__link {
    margin: 0px 15px 10px 15px;
  }
  .fullscreen__link:last-child {
    margin-bottom: 0px;
  }
}
.fullscreen__decor {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 767.98px) {
  .fullscreen__decor {
    margin: 0px 0px 30px 0px;
  }
}

.design {
  padding: 100px 0px 70px 0px;
}
@media (max-width: 767.98px) {
  .design {
    padding: 50px 0px 50px 0px;
  }
}
@media (max-width: 479.98px) {
  .design {
    padding: 30px 0px 0px 0px;
  }
}
.design__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -20px;
}
.design__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 20px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 375px) {
  .design__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.item-design {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 375px) {
  .item-design {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
  }
}
.item-design__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  border: 1px solid #c5c7ca;
  margin: 0px 0px 30px 0px;
}
.item-design__title {
  color: #3b434c;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}
.item-design__text {
  color: #3b434c;
  line-height: 26px;
}
@media (min-width: 375px) {
  .item-design__text {
    max-width: 140px;
  }
}

.newsletter {
  position: relative;
  padding: 100px 0px;
}
@media (max-width: 767.98px) {
  .newsletter {
    padding: 60px 0px;
  }
}
.newsletter__form {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 880px;
  padding: 0px 10px;
  margin: 0px auto;
}
@media (max-width: 767.98px) {
  .newsletter__form {
    max-width: none;
  }
}
.newsletter__email {
  padding: 0px 3.488372093% 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 767.98px) {
  .newsletter__email {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
  }
}
.newsletter__btn {
  padding: 0px 92px;
}
.newsletter__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.newsletter__bg img {
  max-width: 100%;
}

.works__body {
  padding: 100px 0px;
}
@media (max-width: 767.98px) {
  .works__body {
    padding: 50px 0px;
  }
}
.works__top {
  margin: 0px 0px 70px 0px;
}
@media (max-width: 767.98px) {
  .works__top {
    margin: 0px 0px 20px 0px;
  }
}
.bottom-works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px -15px 70px -15px;
}
@media (max-width: 767.98px) {
  .bottom-works__row {
    margin: 0px -15px 0px -15px;
  }
}
.bottom-works__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 767.98px) {
  .bottom-works__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 479.98px) {
  .bottom-works__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.bottom-works__item {
  position: relative;
}
.bottom-works__link {
  text-align: center;
}
.bottom-works__link a {
  height: 50px;
  color: #3b434c;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #d8d9db;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 15px;
  padding: 0px 50px;
}
@media (min-width: 991.98px) {
  .bottom-works__link a:hover {
    color: #fff;
    background-color: #f7600e;
    border: 0;
  }
}

.item-bottom-works {
  position: relative;
  height: 100%;
}
@media (min-width: 991.98px) {
  .item-bottom-works:hover .hover-item {
    opacity: 1;
    visibility: visible;
  }
}
.item-bottom-works__image {
  position: relative;
  padding: 0px 0px 100% 0px;
  border-radius: 10px;
  overflow: hidden;
}
.item-bottom-works__image img {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
@media (min-width: 991.98px) {
  .item-bottom-works__image:hover .hover-item {
    opacity: 1;
    visibility: visible;
  }
}
.hover-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 85px 75px;
  background-color: rgba(247, 96, 14, 0.9);
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hover-item__link {
  background-color: #fff;
  min-height: 30px;
  border-radius: 10px;
  padding: 0px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-weight: 700;
}

.review-slider {
  position: relative;
  padding: 100px 0px;
  min-width: 0;
}
@media (max-width: 767.98px) {
  .review-slider {
    padding: 30px 0px;
  }
}
.review-slider__content {
  max-width: 1320px;
  margin: 0px auto;
  position: relative;
  z-index: 2;
  min-width: 0;
}
.review-slider__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.review-slider__bg img {
  max-width: 100%;
}
.review-slider__body {
  min-width: 0;
}
.review-slider__arrow {
  background: url("../img/review-slider/arrow.png") 0 0 no-repeat;
  width: 21px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 50%;
}
.review-slider__arrow_prev {
  left: 8px;
}
.review-slider__arrow_next {
  right: 8px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slide-review {
  min-width: 0;
}
.slide-review__body {
  max-width: 797px;
  margin: 0px auto;
  padding: 10px 25px;
  text-align: center;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
}
.slide-review__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px 0px 30px 0px;
}
.slide-review__image img {
  max-width: 100%;
}
.slide-review__text {
  color: #ffffff;
  font-size: 25px;
  font-style: italic;
  line-height: 40px;
  margin: 0px 0px 20px 0px;
}
.slide-review__name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.team {
  padding: 100px 0;
}
@media (max-width: 767.98px) {
  .team {
    padding: 30px 0;
  }
}
.team__top {
  margin: 0px 0px 130px 0px;
}
@media (max-width: 991.98px) {
  .team__top {
    margin: 0px 0px 60px 0px;
  }
}
@media (max-width: 767.98px) {
  .team__top {
    margin: 0px 0px 30px 0px;
  }
}
.slider-team__body {
  margin: 0px -20px 100px -20px;
}
.slider-team__body .swiper-wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media (max-width: 991.98px) {
  .slider-team__body {
    margin: 0px -20px 70px -20px;
  }
}
@media (max-width: 767.98px) {
  .slider-team__body {
    margin: 0px -20px 30px -20px;
  }
}
.slider-team__slide {
  padding: 0px 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider-team__dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider-team__dotts .swiper-pagination-bullet {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #c4c7c9;
  margin: 0px 17px;
}
.slider-team__dotts .swiper-pagination-bullet-active {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f7600e;
}

.item-slider-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
@media (min-width: 991.98px) {
  .item-slider-team {
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
  }
  .item-slider-team:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
  }
}
.item-slider-team__image {
  position: relative;
  overflow: hidden;
  height: 285px;
  border-radius: 5px;
  border: 1px solid #8a8c8f;
  margin: 0px 0px 30px 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-slider-team__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .item-slider-team__image {
    margin: 0px 0px 20px 0px;
  }
}
.item-slider-team__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #3b434c;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}
.item-slider-team__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item-slider-team__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px -7px;
  padding: 30px 0px;
}
@media (max-width: 767.98px) {
  .item-slider-team__socials {
    padding: 20px 0px;
  }
}
.item-slider-team__social {
  padding: 0px 7px;
}
.item-slider-team__text {
  color: #3b434c;
  line-height: 26px;
}

@media (min-width: 991.98px) {
  .swiper-slide-active .item-slider-team__image:hover::after {
    opacity: 1;
  }
}

.hire-us {
  padding: 100px 0px 130px 0px;
  position: relative;
}
@media (max-width: 767.98px) {
  .hire-us {
    padding: 30px 0 20px 0;
  }
}
.hire-us__content {
  position: relative;
  z-index: 5;
  max-width: 850px;
  padding: 0px 10px;
  margin: 0px auto;
}
.hire-us__top {
  margin: 0px 0px 100px 0px;
}
@media (max-width: 991.98px) {
  .hire-us__top {
    margin: 0px 0px 70px 0px;
  }
}
@media (max-width: 767.98px) {
  .hire-us__top {
    margin: 0px 0px 20px 0px;
  }
}
.hire-us__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hire-us__bg img {
  max-width: 100%;
}

.form-hire__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px 30px -15px;
}
@media (max-width: 767.98px) {
  .form-hire__top {
    margin: 0px -15px 20px -15px;
  }
}
.form-hire__email {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px;
}
@media (max-width: 650px) {
  .form-hire__email {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 20px 0px;
  }
}
.form-hire__subject {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px;
}
@media (max-width: 650px) {
  .form-hire__subject {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.form-hire__textarea {
  margin: 0px 0px 30px 0px;
}
@media (max-width: 767.98px) {
  .form-hire__textarea {
    margin: 0px 0px 20px 0px;
  }
}
.form-hire__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 650px) {
  .form-hire__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form-hire__btn {
  padding: 0px 75px;
  margin: 0px 20px 0px 0px;
}
@media (max-width: 650px) {
  .form-hire__btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 20px 0px;
  }
}
.form-hire__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 650px) {
  .form-hire__socials {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px -10px;
  }
}
@media (min-width: 651px) {
  .form-hire__socials li {
    margin: 0px 20px 0px 0px;
  }
  .form-hire__socials li:last-child {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 650px) {
  .form-hire__socials li {
    padding: 0px 10px;
  }
}
.form-hire__social img {
  max-width: 100%;
}